<div class='col-md-3' id='sideView'>

	<h2>My Dinner</h2>
	<div>
		People: <input type="number" ng-model="numberOfGuests" ng-change="setNumberOfGuest(numberOfGuests)"/>
	</div>
	<div id='dishList'>

	</div>



	<table class='table'><tr><th>Dish name</th><th>Cost</th><td></td></tr>
		<tr ng-repeat='dish in menu'>
			<td>{{dish.Title}}</td>
			<td>SEK {{getDishPrice(dish)}}</td>
			<td><button ng-click='remove(dish.RecipeID)'> <span id='remove' class='glyphicon glyphicon-remove'> </span></button></td> 
		</tr>
		<tr><td>Pending</td><td>SEK {{getPending}}</td><td></tr></tr>
		<tr><td></td><td>SEK {{getTotalMenuPrice}}</td><td></tr></tr>
	</table>

	<a href='#/confirm' id='confirm' class='btn btn-default btn-lg'>Confirm Dinner</a>


</div>