<div class='col-md-3' id='sideView'>

	<h2>My Dinner</h2>
	<div>
		People: <input type="number" ng-model="numberOfGuests" ng-change="setNumberOfGuest(numberOfGuests)"/>
	</div>
	<div id='dishList'>

	</div>

	<button ng-click='confirm()' id='confirm' class='btn btn-default btn-lg'>Confirm Dinner</button>

	<table class='table'><tr><th>Dish name</th><th>Cost</th><td></td></tr>
		<tr ng-repeat='dish in menu'>
			<td>{{dish.Title}}</td>
			<td>dishPrice</td>			<!-- Fix later-->
			<td><span id='remove' class='glyphicon glyphicon-remove'> </span></td> 
		</tr>
	</table>


</div>